chaosDaemon:
  runtime: containerd
  socketPath: /run/containerd/containerd.sock
controllerManager:
  replicaCount: 3
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi
dashboard:
  create: false
