grafana:
  replicas: 1
  plugins:
    - chaosmeshorg-datasource@3.0.0
  grafana.ini:
    plugins:
      allow_loading_unsigned_plugins: chaosmeshorg-datasource
  envValueFrom:
    CHAOS_MESH_TOKEN:
      secretKeyRef:
        name: chaos-mesh-admin-token
        key: token
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: public
    hosts:
      - grafana.${ingress_ip}.sslip.io

defaultDashboards:
  sources:
    elasticsearch-exporter-cluster:
      url: https://raw.githubusercontent.com/prometheus-community/elasticsearch_exporter/v1.9.0/elasticsearch-mixin/compiled/dashboards/cluster.json
    elasticsearch-exporter-quickstart:
      url: https://grafana.com/api/dashboards/14191/revisions/1/download
    traefik-kubernetes:
      url: https://raw.githubusercontent.com/traefik/traefik/v3.7.13/contrib/grafana/traefik-kubernetes.json

defaultDatasources:
  victoriametrics:
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        uid: VictoriaMetrics
        access: proxy
        isDefault: true
        jsonData:
          httpMethod: POST
          queryTimeout: 300s
          timeInterval: 30s
  extra:
    - name: Chaos Mesh
      type: chaosmeshorg-datasource
      access: proxy
      url: http://chaos-dashboard.chaos-mesh.svc.cluster.local:2333
      jsonData:
        httpHeaderName1: Authorization
      secureJsonData:
        httpHeaderValue1: 'Bearer $CHAOS_MESH_TOKEN'

defaultRules:
  groups:
    etcd:
      enabled: false
    kubernetes-system-scheduler:
      enabled: false
    kubernetes-system-controller-manager:
      enabled: false
    kube-scheduler.rules:
      enabled: false

kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
kubeEtcd:
  enabled: false

vmalert:
  enabled: false
alertmanager:
  enabled: false

vmsingle:
  enabled: false

vmcluster:
  enabled: true
  spec:
    replicationFactor: 3
    vmstorage:
      useDefaultResources: false
      replicaCount: 3
      podDisruptionBudget:
        minAvailable: 2
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: vmstorage
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: yc-network-hdd
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 30Gi
      resources:
        limits:
          cpu: "1"
          memory: 2Gi
        requests:
          cpu: "1"
          memory: 2Gi
    vmselect:
      useDefaultResources: false
      replicaCount: 2
      podDisruptionBudget:
        minAvailable: 1
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: vmselect
      resources:
        limits:
          cpu: "500m"
          memory: 512Mi
        requests:
          cpu: 100m
          memory: 256Mi
    vminsert:
      replicaCount: 2
      podDisruptionBudget:
        minAvailable: 1
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: vminsert
      resources:
        limits:
          cpu: "500m"
          memory: 512Mi
        requests:
          cpu: 100m
          memory: 128Mi

vmagent:
  spec:
    replicaCount: 2
    scrapeInterval: 20s
    podDisruptionBudget:
      minAvailable: 1
