grafana:
  enabled: false

defaultRules:
  create: false

kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
kubeEtcd:
  enabled: false

vmalert:
  enabled: false
alertmanager:
  enabled: false

vmsingle:
  enabled: false

vmcluster:
  enabled: false

vmagent:
  spec:
    remoteWrite:
      - url: http://10.0.1.35:8480/insert/0/prometheus

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true
