grafana:
  enabled: false

defaultRules:
  create: false

kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
kubeEtcd:
  enabled: false

vmalert:
  enabled: false
alertmanager:
  enabled: false

vmsingle:
  enabled: false

vmcluster:
  enabled: false

vmagent:
  enabled: false

kube-state-metrics:
  enabled: false

prometheus-node-exporter:
  enabled: false
